<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Default Description"/>
    <meta name="keywords" content="Magento, Varien, E-commerce"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cheek Palattes - Cheek - Makeup</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/main1.min.css"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/css/home16_en.css">
    <title>Title</title>
</head>
<body>
<div id="root">
    {{ react_component('App', {'props': {}}) }}
</div>
</body>
</html>